<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgba(255, 68, 109, 0.938);">
    <div class="container-fluid">
      <img src="assets/images/real-estate-agency.png" alt="">
      <span style="color: transparent;">---</span>
      <a class="navbar-brand" href="#">ImobiDiária</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          <a class="nav-link active" href="#">Pacotes</a>
          <a class="nav-link active" href="#">Faça uma Simulação</a>
        </div>
      </div>
    </div>
  </nav>

  <footer class="border-top footer text-white fixed-bottom" style="background-color: rgba(255, 68, 109, 0.938);" >
    <div class="container">
        &copy; 2021 - Auto Escola Braba - <a asp-area="" routerLink="/titulos">Contato</a>
    </div>
  </footer>
