<div class="row">
    <div class="col-md-3"></div>

    <div class="col">
        <div class="card" style="border: hidden; color: rgb(255, 62, 104);">
          <img class="propimg" src="assets/images/house.png" alt="">
          <div class="card-body">
            <h5>{{property.Id}} - {{property.Tipo}}</h5>
            <h5></h5>
            <h5 style="color: rgb(51, 230, 51);">{{property.Preco.toLocaleString("pt-br",{style: "currency",currency: "BRL"})}}</h5>
          </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

